:root.touch {
    --body-background: #1e1e24;
    --off-canvas-hover: var(--dark-accent);

    --generic-dark: #302f33;
    --dark-accent: #47464a;
    --dark-text: #e8e8e8;
    --link-colour: #59a9ff;
}

.card {
    background: var(--generic-dark);
}

a {
    color: var(--link-colour);
}

h1 {
    color: var(--dark-text) !important;
}

#timeLeft {
    color: var(--dark-text);
}

.timetable th, .alert-box {
    background-color: var(--generic-dark);
    color: var(--dark-text);
}

.timetable-period-active, .timetable-day-active {
    background-color: var(--dark-accent) !important;
    color: var(--dark-text) !important;
}

.timetable-subject a {
    color: #085ba5;
}

.timetable-subject {
    filter: brightness(0.8);
}

#search-field {
    background: #d1d1d1;
}

#news-component li {
    background: var(--generic-dark);
}

.component-action section {
    background-color: var(--generic-dark);
}

.list-item {
    color: var(--dark-text);
}

#msgs {
    background: var(--generic-dark);
}

.island section {
    background-color: var(--generic-dark) !important;
}
  
.content {
    background: var(--generic-dark);
    color: var(--dark-text);
}
  
li.actions-small-1 {
    background: var(--generic-dark);
}
  
.empty-state {
    background-color: var(--generic-dark);
}
  
ul.grid {
    background: var(--generic-dark);
}

.checklist.item {
    color: var(--dark-text);
}
  
.filter-dropdown .filter-component > span.open {
    background: var(--generic-dark);
}
  
.f-dropdown.content.open {
    background: #3d3d40;
}
  
.option-list label {
    color: var(--dark-text);
}
  
#calendar th, #calendar td {
    background: var(--generic-dark);
}

dl.tabs {
    background: var(--dark-accent);
}
  
dd a {
    color: var(--dark-text) !important;
}
  
dd.active a {
    color: var(--link-colour) !important;
}
  
[role="menuitem"] a {
    color: var(--link-colour) !important;
}

.side-nav {
    background-color: var(--dark-accent) !important;
}

li.tile {
    filter: hue-rotate(calc(var(--rotate) * 1deg)) brightness(1.35) contrast(1.3);
}

ul.off-canvas-list * {
    color: var(--dark-text) !important;
}

#left-menu {
    background: var(--generic-dark);
}

blockquote {
	background-color: var(--body-background);
	color: var(--dark-text);
}

.rubric-wrap th, .rubric-wrap td {
	background-color: var(--generic-dark);
	color: var(--dark-text) !important;
	border: 1px solid var(--dark-text) !important;
}

.rb-selected {
	background-color: var(--dark-accent) !important;
}

#fc-dom-1 {
	color: var(--dark-text);
}

.fc-col-header-cell-cushion {
	color: white !important;
}

.checkbox-label {
    color: var(--dark-text);
}

#attachment-browser-panel-container, #attachment-browser-filesystems {
    background-color: var(--generic-dark);
}
  
.active.tab-title a {
    background: var(--dark-accent) !important;
    color: var(--dark-text) !important;
}
  
.dz-default.dz-message {
    background-color: var(--dark-accent);
    color: var(--dark-text);
}

a.button {
	background-color: var(--dark-accent);
}