.grid-parent {
    display: grid;
    grid-template-columns: 65% 35%;
}

#timeLeft {
    margin-top: 15px;
    display: block;
}

/* Avoid weird padding when day is over */
#timeLeft:empty {
    display: none;
}

.information-list {
    background-color: white;
}

div.section {
    padding: 0 20px;
}

/* Make the page look ok on load before it gets reconstructed */
.column-right {
    margin-top: -240px;
}

#component36911 {
    width: 64%;
}

/* Pretty colours and tiles */
li.tile {
    border-radius: 5px;
    filter: hue-rotate(calc(var(--rotate) * 1deg)) brightness(1.5) contrast(1.3);
    width: 19% !important;
    margin: 0.5% !important;
    padding-bottom: 18% !important;
}

li.tile:hover {
    transform: scale(1.05);
}

.message {
    color: rgb(207, 65, 65);
    display: inline-block;
    padding-top: 7px;
    font-size: 20px;
    font-weight: 500;
}

.message:empty {
    display: none;
}

li.tile:nth-of-type(1) { --rotate: 0;}
li.tile:nth-of-type(2) { --rotate: 24;}
li.tile:nth-of-type(3) { --rotate: 48;}
li.tile:nth-of-type(4) { --rotate: 72;}
li.tile:nth-of-type(5) { --rotate: 96;}
li.tile:nth-of-type(10) { --rotate: 120;}
li.tile:nth-of-type(9) { --rotate: 144;}
li.tile:nth-of-type(8) { --rotate: 168;}
li.tile:nth-of-type(7) { --rotate: 192;}
li.tile:nth-of-type(6) { --rotate: 216;}
li.tile:nth-of-type(11) { --rotate: 230;}
li.tile:nth-of-type(12) { --rotate: 264;}
li.tile:nth-of-type(13) { --rotate: 288;}
li.tile:nth-of-type(14) { --rotate: 312;}
li.tile:nth-of-type(15) { --rotate: 336;}

/* Hide the news tabs, calendar */
dl.tabs {
    display: none;
}

/* Scrollable News */
.tabs-content > .information-list {
    max-height: 500px;
    overflow-y: scroll;
}

.information-list .card {
    padding-bottom: 10px;
}

.popup-buttons {
    display: flex;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 5px;
    justify-content: space-around;
}

.popup-button {
    width: 48% !important;
}

.timetable-subject:only-child:not(div + div) {
    min-height: 95px !important;
    height: 100% !important;
}

.timetable td {
    height: 0;
}

/* firefox-exclusive css cause it goofy ahh */
@-moz-document url-prefix() {
    .timetable td, .timetable > tbody > tr {
        height: 100%;
    }
}

.timetable td > div {
    height: 100%;
}

.scrollable {
    overflow: visible !important;
}

.timetable-subject-active > .timetable-subject {
    min-height: 91px !important;
}

.reminder-button {
    position: absolute;
    width: 20px;
    aspect-ratio: 1/1;
    right: 10px;
    top: 5px;
    cursor: pointer;
    color: gray;
    transition: 0.2s;
    font-size: 20px;
}

.reminder-button:hover {
    color: #444
}

#component52396 .card::after:hover {
    filter: invert(0.4);
}

.popup {
    display: none;
    position: fixed;
    background: white;
    width: 600px;
    height: 480px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    filter: drop-shadow(2px 4px 6px gray);
    overflow-y: auto;
}

.display {
    display: block !important;
}

.popup-body {
    padding: 15px;
}

.popup-title {
    width: 100%;
    background: var(--navigation-background);
    height: 80px;
    padding: 20px;
}

.popup-title > h1 {
    color: white !important;
}

.popup-radio {
    display: none;
}

.popup-label {
    margin: 0 !important;
}

.popup-radio:checked + label {
    outline: solid 3px var(--content-ui-foreground);
    outline-offset: -3px;
}

.rem-button {
    flex: 1;
    margin: 3px !important;
    display: flex !important;
    justify-content: center;
    align-items: center;
}

.rem-add-container {
    display: flex;
}

.hide {
    display: none;
}

.inline {
    display: inline;
}

#delete-reminder {
    background: #c82644 !important;
}

#delete-reminder:hover {
    background: #f05f79 !important;
}

.align {
    vertical-align: bottom;
}

.rem-display {
    border: 2px solid gray;
    padding: 10px;
    margin-bottom: 10px;
    position: relative;
}

.rem-view-edit {
    position: absolute;
    top: 10px;
    right: 10px;
}

.rem-view-button {
    color: gray;
    cursor: pointer;
}

.notif-warning {
    color: red;
    display: none;
}

#coolbox {
    padding: 10px;
}

#cb-settings {
    display: block;
    font-size: 14px;
}

#feedback {
    margin: 10px 0;
    height: 125px;
}

span.disclaimer {
    color: gray;
    font-style: italic;
    margin: 5px 0 10px 0;
    display: block;
    font-size: 12px;
}

label {
    font-size: 16px !important;
}

/* Splitscreen support, transpose timetable */
@media only screen and (max-width: 64em) {
    .grid-parent {
        grid-template-columns: 50% 50%;
    }

    li.tile {
        width: 32% !important;
        aspect-ratio: 1/1;
    }

    ul.tileList {
        display: flex;
        flex-wrap: wrap;
    }

    .timetable {
        width: min-content;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-areas:
        "head body";
    }
    .timetable thead {
        grid-area: head;
        display: flex;
        min-width: min-content;
    }
    .timetable tbody {
        grid-area: body;
        display: flex;
    }
    .timetable tr {
        display: flex;
        flex-direction: column;
        min-width: min-content;
    }
    .timetable td, .timetable th {
        display: block;
    }
    .timetable td {
        height: auto;
        width: calc(100% + 30px) !important;
    }
    .timetable th {
        height: 20%;
        width: 100% !important;
    }

    li.tile:nth-of-type(1) { --rotate: 0;}
    li.tile:nth-of-type(2) { --rotate: 48;}
    li.tile:nth-of-type(3) { --rotate: 96;}
    li.tile:nth-of-type(4) { --rotate: 48;}
    li.tile:nth-of-type(5) { --rotate: 96;}
    li.tile:nth-of-type(6) { --rotate: 144;}
    li.tile:nth-of-type(7) { --rotate: 96;}
    li.tile:nth-of-type(8) { --rotate: 144;}
    li.tile:nth-of-type(9) { --rotate: 192;}
    li.tile:nth-of-type(10) { --rotate: 144;}
    li.tile:nth-of-type(11) { --rotate: 192;}
    li.tile:nth-of-type(12) { --rotate: 250;}
    li.tile:nth-of-type(13) { --rotate: 192;}
    li.tile:nth-of-type(14) { --rotate: 250;}
    li.tile:nth-of-type(15) { --rotate: 288;}
}

.due-work .card.small-12 h3 {
    width: 95%;
}