body {
    padding: 0;
    margin: 0;
    width: max-content;
}

.title {
    width: 100%;
    padding: 10px;
    background: linear-gradient(45deg, #ca88ce, #50a9c2);
    font-family: 'Poppins', sans-serif;
    color: white;
    font-size: 22px;
}

.heading {
    font-size: 20px;
    display: block;
    font-weight: 600;
}

input[type='range'] {
    appearance: none;
    background: lightblue;
    border-radius: 1px;
}

input[type='range']:disabled {
    background: rgb(191, 191, 191);
}

input[type='range']::-webkit-slider-thumb {
    appearance: none;
    width: 15px;
    height: 15px;
    background: gray;
    cursor: pointer;
}

input[type='range']::-moz-range-thumb {
    width: 15px;
    height: 15px;
    background: gray;
    cursor: pointer;
}

.content {
    padding: 10px;
    font-family: 'Roboto Mono', monospace;
    font-size: 18px;
}

button {
    padding: 10px;
    border-radius: 3px;
    color: white;
    border: none;
    font-family: 'Poppins', sans-serif;
    cursor: pointer;
    background: rgb(59, 133, 218);
}

button.hide {
    display: none;
}

button.danger {
    background: rgb(207, 54, 54);
}
button.danger:hover {
    background: rgb(231, 86, 86);
}

button:hover {
    background: rgb(98, 159, 230);
}

#authError {
    color: rgb(234, 101, 101);
}

input[type='checkbox'] {
    background: gray;
    width: 30px;
    border-radius: 2px;
    height: 15px;
    appearance: none;
    position: relative;
    transition: 0.2s;
}

input[type='checkbox']:checked {
    background-color: limegreen;
}

input[type='checkbox']::after {
    background: white;
    width: 50%;
    height: 100%;
    content: "";
    position: absolute;
    transition: 0.2s;
    left: 0;
    filter: drop-shadow(0 0 3px gray);
}
  
input[type='checkbox']:checked::after {
    left: 50%;
}

.flex {
    display: flex;
    align-items: center;
}

.settings-label {
    margin-right: 10px;
}

span.warning {
    font-size: 12px;
    color: red;
}