name: Zip Repository
on:
  push:
    branches:
      - master

jobs:
  zip:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Zip repository
        run: |
          zip -r extension.zip .
          
      - name: Upload artifact
        uses: actions/upload-artifact@v2
        with:
          name: extension.zip
          path: extension.zip
